%h1 Positions

%table
  %tr
    %th Name
    %th Edit
    %th Delete
  - for position in @positions
    %tr
      %td= position.name
      %td= link_to "Edit", {action: "edit", id: position.id}
      %td= link_to "Delete", {action: "delete", id: position.id}, method: :post
      
%p= link_to "New Position", action: "new"