<h1>Test2#demotest</h1>
<p>Find me in app/views/test2/demotest.html.erb</p>

<p>
  Today is:
  <%= @today %>
</p>

<p>
  Tomorrow wiil be:
  <%= @tomorrow %>
</p>

<p>
  Yesterday was:
  <%= @yesterday %>
</p>